<section class="main-content">
    <div class="header-row">
        <h3 class="sub-heading">Home</h3>
        <h3 class="sub-heading">Schemes</h3>
        <button mat-button><mat-icon>download</mat-icon>Export to Excel</button>
    </div>
    <div class="filter-row">
        <div>
            <label for="search-input" class="label">Filter</label><br>
            <div class="search-container">
                <div>
                    <input type="text" id="search-input" class="search-input" placeholder="Search...">
                    <div class="search-icon">
                        <mat-icon>search</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="date-container">
            <label for="from-date" class="label">From Date</label><br>
            <input type="date" id="from-date" class="date-input">
        </div>
        <div class="date-container">
            <label for="to-date" class="label">To Date</label><br>
            <input type="date" id="to-date" class="date-input">
        </div>
        <div class="add-dataBtn">
            <button mat-raised-button><mat-icon>add</mat-icon>New Scheme Data</button>
        </div>
    </div>
    <div>

    </div>
</section>