.main-content {
    padding: 2rem;
}

.heading {
    color: #470A3C;
    font-weight: bold;
}

.scheme-data-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 4rem;
}

.button {
    grid-column: 1/3;
    display: flex;
    justify-content: flex-end;
}

.back,
.create {
    margin: 0 0.5rem;
}

.editScheme {
    display: flex;
    justify-content: space-between;
}

.editScheme button {
    height: 80%;
}