<section class="main-content">
    <form action="" method="post" class="create-new-scheme">
        <h3 class="sub-heading">Scheme Data</h3>
        <mat-form-field>
            <mat-label>Scheme Code</mat-label>
            <input matInput type="text" name="scheme_code">
        </mat-form-field>
        <!-- <mat-form-field>
        <mat-label for="typeNameSelect">Type Name</mat-label>
        <select id="typeNameSelect" onchange="changeTypeName()" required></select>
    </mat-form-field> -->
        <mat-form-field>
            <mat-label>Scheme Name</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <!-- <mat-form-field>
        <mat-label>Unit Type</mat-label>
        <select name=""></select>
    </mat-form-field> -->
        <mat-form-field>
            <mat-label>Cut off Date</mat-label>
            <input matInput type="date" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Final Cut off Date</mat-label>
            <input matInput type="date" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Rate of Scheme Interest</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Repayment Period</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Selling Price</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Selling Extent</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tentative Land Cost</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Final Land Cost</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Profit on Land</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Rate Adopted</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <h3 class="sub-heading">Unit Data</h3>
        <mat-form-field>
            <mat-label>Total Developed Units</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Total Allotted Units</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Total Developed Units for Outright</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Total allotted units for Hire purchase</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Total Arrears EMI</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Total Balance EMI</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Total Current EMI</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Total Number of Sale Deed issued</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Total Number of Live cases for Hire</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Total Number of paid Cases(Sale Deed not yet issued)</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Total Ripped unit</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Total Unsold Units</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Remarks</mat-label>
            <input matInput type="text" name="" id="">
        </mat-form-field>
        <!-- Button -->
        <div class="button-row">
            <button mat-raised-button type="reset">Reset</button>
            <button mat-raised-button type="submit" style="background-color: #470A3C;color: #ffffff;">Submit</button>
        </div>
    </form>
</section>