<section class="main-content">
    <div class="header-row">
        <h3 class="sub-heading">Master Data</h3>
    </div>
    <div class="filter-row mb-4">
        <div *ngIf="!dataFetched" class="d-flex align-items-center">
            <input type="file" accept=".xlsx" (change)="handleFileInput($event)">
            <a href="../../../assets/unitDataFormat.xlsx"><span class="material-symbols-rounded">
                    info
                </span>
            </a>
        </div>
        <button class="btn btn-light excel-btn">
            <span><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-download"
                    viewBox="0 0 16 16">
                    <path
                        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                    <path
                        d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                </svg></span>Export to Excel
        </button>
    </div>

    <div>
        <mat-tab-group>
            <mat-tab label="Unit Data">
                <ng-template matTabContent>
                    <div>
                        <button *ngIf="!dataFetched" class="btn button my-2" (click)="onCreateUnitMasterData()">Create
                            Unit Data</button>
                        <button *ngIf="dataFetched" class="btn button my-2" (click)="onUpdateUnitData()">Update Unit
                            Data</button>
                    </div>
                    <div class="mat-elevation-z8 table-container">
                        <table mat-table [dataSource]="unitMasterDataSource" matSort>
                            <ng-container *ngFor="let column of unitMasterTableColumns" [matColumnDef]="column.prop">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.display }}</th>
                                <td mat-cell *matCellDef="let element; let rowIndex = index;"
                                    (click)="startEdit(element, rowIndex)">
                                    <ng-container *ngIf="editableRowIndex !== rowIndex; else editMode">
                                        {{ element[column.prop] }}
                                    </ng-container>
                                    <ng-template #editMode>
                                        <ng-container
                                            *ngIf="column.prop !== 'v_TYPE_NAME' && column.prop !== 'v_ASSET_TYPE' && column.prop!== 'v_UNIT_ALLOTTED_STATUS'; else editFields">
                                            <!-- Your regular input field for editing -->
                                            <input [(ngModel)]="element[column.prop]"
                                                (keydown.enter)="saveEdit(element, rowIndex)"
                                                (keydown.esc)="cancelEdit()">
                                        </ng-container>
                                        <ng-template #editFields>
                                            <ng-container *ngIf="column.prop === 'v_TYPE_NAME'">
                                                <!-- Input field for 'v_TYPE_NAME' column -->
                                                <mat-select *ngIf="column.prop === 'v_TYPE_NAME'"
                                                    [(ngModel)]="element.v_TYPE_NAME"
                                                    (keydown.enter)="saveEdit(element, rowIndex)"
                                                    (keydown.esc)="cancelEdit()">
                                                    <mat-option value="Hire Purchase">Hire Purchase</mat-option>
                                                    <mat-option value="Self Finance">Self Finance</mat-option>
                                                    <mat-option value="Outright">Outright</mat-option>
                                                </mat-select>
                                            </ng-container>
                                            <ng-container *ngIf="column.prop === 'v_ASSET_TYPE'">
                                                <!-- Input field for 'v_ASSET_TYPE' column -->
                                                <mat-select *ngIf="column.prop === 'v_ASSET_TYPE'"
                                                    [(ngModel)]="element.v_ASSET_TYPE"
                                                    (keydown.enter)="saveEdit(element, rowIndex)"
                                                    (keydown.esc)="cancelEdit()">
                                                    <mat-option value="Residential">Residential</mat-option>
                                                    <mat-option value="Commercial">Commercial</mat-option>
                                                </mat-select>
                                            </ng-container>
                                            <ng-container *ngIf="column.prop === 'v_UNIT_ALLOTTED_STATUS'">
                                                <mat-select *ngIf="column.prop === 'v_UNIT_ALLOTTED_STATUS'"
                                                    [(ngModel)]="element.v_UNIT_ALLOTTED_STATUS"
                                                    (keydown.enter)="saveEdit(element, rowIndex)"
                                                    (keydown.esc)="cancelEdit()">
                                                    <mat-option value="yes">yes</mat-option>
                                                    <mat-option value="no">no</mat-option>
                                                </mat-select>
                                            </ng-container>
                                        </ng-template>
                                    </ng-template>
                                </td>

                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="unitMasterDataColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: unitMasterDataColumns;"></tr>
                        </table>

                        <mat-paginator [length]="unitMasterDataSource.data.length" [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons [pageSize]="pageSize" (page)="pageEvent($event)">
                        </mat-paginator>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Allotee">
                <ng-template matTabContent>
                    <div class="d-flex justify-content-between">
                        <button class="btn button my-2" (click)="handleInitialAllotteeData()">Update from Unit</button>
                        <!-- <button class="btn button my-2" (click)="sendAllotteeData()">Send</button> -->
                        <button class="btn button my-2" (click)="updateAllotteeData()">Update</button>
                    </div>
                    <div class="mat-elevation-z8 table-container">
                        <table mat-table [dataSource]="allotteeDataSource" class="allottee-table">
                            <ng-container *ngFor="let column of allotteeTableColumns" [matColumnDef]="column.property">
                                <th mat-header-cell *matHeaderCellDef>{{ column.display }}</th>
                                <td mat-cell *matCellDef="let element;">
                                    <ng-container [ngSwitch]="column.property">
                                        <!-- For other columns -->
                                        <ng-container *ngSwitchDefault>
                                            <input type="text" [(ngModel)]="element[column.property]" />
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'n_PHONE_NUMBER'">
                                            <input type="number" pattern="[1-9]{1}[0-9]{9}"
                                                [(ngModel)]="element[column.property]" />
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'nschemeId'">
                                            <span>{{element[column.property]}}</span>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'nunitId'">
                                            <span>{{element[column.property]}}</span>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'v_AADHAAR_DOC_PDF'">
                                            <ng-container *ngIf="!element.v_AADHAAR_FILE_PATH">
                                                <input type="file" [(ngModel)]="element[column.property]"
                                                    (change)="onAadhaarSelected($event)" accept=".pdf">
                                            </ng-container>
                                            <ng-container *ngIf="element.v_AADHAAR_FILE_PATH">
                                                <a [href]="element.v_AADHAAR_FILE_PATH" target="_blank">
                                                    <span class="material-symbols-rounded">visibility</span>
                                                </a>
                                                <input type="file" [(ngModel)]="element[column.property]"
                                                    (change)="onAadhaarSelected($event)" accept=".pdf">
                                            </ng-container>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'v_OTHER_DOC_PDF'">
                                            <ng-container *ngIf="!element.v_OTHER_FILE_PATH">
                                                <input type="file" [(ngModel)]="element[column.property]"
                                                    (change)="onOtherSelected($event)" accept=".pdf">
                                            </ng-container>
                                            <ng-container *ngIf="element.v_OTHER_FILE_PATH">
                                                <a [href]="element.v_OTHER_FILE_PATH" target="_blank">
                                                    <span class="material-symbols-rounded">visibility</span>
                                                </a>
                                                <input type="file" [(ngModel)]="element[column.property]"
                                                    (change)="onOtherSelected($event)" accept=".pdf">
                                            </ng-container>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'v_ALLOTTEE_PHOTO'">
                                            <ng-container *ngIf="!element.v_ALLOTTE_FILE_PATH">
                                                <input type="file" [(ngModel)]="element[column.property]"
                                                    (change)="onAllotteePhotoSelected($event)"
                                                    accept=".png, .jpg, .jpeg">
                                            </ng-container>
                                            <ng-container *ngIf="element.v_ALLOTTE_FILE_PATH">
                                                <a [href]="element.v_ALLOTTE_FILE_PATH" target="_blank">
                                                    <span class="material-symbols-rounded">visibility</span>
                                                </a>
                                                <input type="file" [(ngModel)]="element[column.property]"
                                                    (change)="onAllotteePhotoSelected($event)"
                                                    accept=".png, .jpg, .jpeg">
                                            </ng-container>
                                        </ng-container>

                                    </ng-container>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="allotteeColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: allotteeColumns;"></tr>
                        </table>
                        <mat-paginator [length]="allotteeDataSource.data.length" [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons [pageSize]="pageSize" (page)="pageEvent($event)">
                        </mat-paginator>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Financial">
                <ng-template matTabContent>
                    <div class="d-flex justify-content-between">
                        <button class="btn button my-2" (click)="getInitialFinanceData()">Update from Unit</button>
                        <button class="btn button my-2" (click)="updateFinanceData()">Update</button>
                    </div>
                    <div class="mat-elevation-z8 table-container">
                        <table mat-table [dataSource]="financeDataSource" class="finance-table">

                            <!-- S.No. Column -->
                            <ng-container matColumnDef="sno">
                                <th mat-header-cell *matHeaderCellDef> S.No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                            </ng-container>

                            <!-- Scheme ID Column -->
                            <ng-container matColumnDef="v_SCHEME_ID">
                                <th mat-header-cell *matHeaderCellDef> Scheme ID </th>
                                <td mat-cell *matCellDef="let element"> {{element.v_SCHEME_ID}} </td>
                            </ng-container>

                            <!-- Unit ID Column -->
                            <ng-container matColumnDef="n_UNIT_ID">
                                <th mat-header-cell *matHeaderCellDef> Unit ID </th>
                                <td mat-cell *matCellDef="let element"> {{element.n_UNIT_ID}} </td>
                            </ng-container>

                            <!-- EMI Start Date Column -->
                            <ng-container matColumnDef="emi_START_DATE">
                                <th mat-header-cell *matHeaderCellDef> EMI Start Date </th>
                                <td mat-cell *matCellDef="let element">
                                    <div *ngIf="!element.editing; else editingTemplate">
                                        {{element.emi_START_DATE}}
                                    </div>
                                    <ng-template #editingTemplate>
                                        <input type="date" [(ngModel)]="element.emi_START_DATE">
                                    </ng-template>
                                </td>
                            </ng-container>

                            <!-- Rate of Interest Column -->
                            <ng-container matColumnDef="v_RATE_OF_INTEREST">
                                <th mat-header-cell *matHeaderCellDef> Rate of Interest </th>
                                <td mat-cell *matCellDef="let element">
                                    <div *ngIf="!element.editing; else editingTemplate">
                                        {{ element.v_RATE_OF_INTEREST }}
                                    </div>
                                    <ng-template #editingTemplate>
                                        <input type="number" [ngModel]="element.v_RATE_OF_INTEREST"
                                            (ngModelChange)="element.v_RATE_OF_INTEREST = $event"
                                            [formControl]="rateOfInterestControl">
                                        <div
                                            *ngIf="rateOfInterestControl.invalid && (rateOfInterestControl.dirty || rateOfInterestControl.touched)">
                                            <div *ngIf="rateOfInterestControl.hasError('pattern')">
                                                Rate of interest should have one decimal point.</div>
                                        </div>
                                    </ng-template>
                                </td>
                            </ng-container>

                            <!-- Payment Period in years Column -->
                            <ng-container matColumnDef="v_PAYMENT_PERIOD_IN_YEARS">
                                <th mat-header-cell *matHeaderCellDef> Payment Period in years </th>
                                <td mat-cell *matCellDef="let element">
                                    <div *ngIf="!element.editing; else editingTemplate">
                                        {{element.v_PAYMENT_PERIOD_IN_YEARS}}
                                    </div>
                                    <ng-template #editingTemplate>
                                        <input type="number" [(ngModel)]="element.v_PAYMENT_PERIOD_IN_YEARS">
                                    </ng-template>
                                </td>
                            </ng-container>

                            <!-- Principal Amount Column -->
                            <ng-container matColumnDef="v_PRINCIPAL_AMOUNT">
                                <th mat-header-cell *matHeaderCellDef> Principal Amount </th>
                                <td mat-cell *matCellDef="let element">
                                    <div *ngIf="!element.editing; else editingTemplate">
                                        {{element.v_PRINCIPAL_AMOUNT}}
                                    </div>
                                    <ng-template #editingTemplate>
                                        <input type="number" [(ngModel)]="element.v_PRINCIPAL_AMOUNT">
                                    </ng-template>
                                </td>
                            </ng-container>

                            <!-- Initial Deposit Column -->
                            <ng-container matColumnDef="n_INITIAL_DEPOSIT">
                                <th mat-header-cell *matHeaderCellDef> Initial Deposit </th>
                                <td mat-cell *matCellDef="let element">
                                    <div *ngIf="!element.editing; else editingTemplate">
                                        {{element.n_INITIAL_DEPOSIT}}
                                    </div>
                                    <ng-template #editingTemplate>
                                        <input type="number" [(ngModel)]="element.n_INITIAL_DEPOSIT">
                                    </ng-template>
                                </td>
                            </ng-container>

                            <!-- Initial Deposit Paid Column -->
                            <ng-container matColumnDef="n_INITIAL_DEPOSIT_PAID">
                                <th mat-header-cell *matHeaderCellDef> Initial Deposit Paid </th>
                                <td mat-cell *matCellDef="let element">
                                    <div *ngIf="!element.editing; else editingTemplate">
                                        {{element.n_INITIAL_DEPOSIT_PAID}}
                                    </div>
                                    <ng-template #editingTemplate>
                                        <input type="number" [(ngModel)]="element.n_INITIAL_DEPOSIT_PAID">
                                    </ng-template>
                                </td>
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="d-flex">
                                        <button *ngIf="!element.editing"
                                            class="btn btn-light p-1 rounded-circle d-flex align-items-center"
                                            (click)="startFinanceEdit(element)">
                                            <span class="material-symbols-rounded">
                                                edit
                                            </span>
                                        </button>
                                        <button *ngIf="element.editing"
                                            class="btn btn-light p-1 rounded-circle d-flex align-items-center"
                                            (click)="cancelFinanceEdit(element)">
                                            <span class="material-symbols-rounded">
                                                cancel
                                            </span>
                                        </button>
                                        <button [routerLink]="['/property/home/finance',element.V_UNIT_ID ]"
                                            class="btn btn-light p-1 rounded-circle d-flex align-items-center">
                                            <span class="material-symbols-rounded">
                                                visibility
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="financeTableColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: financeTableColumns;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                            aria-label="Select page of periodic elements">
                        </mat-paginator>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Sale Deed">
                <ng-template matTabContent>
                    <div class="d-flex justify-content-between">
                        <button class="btn button my-2" (click)="getInitialSalesData()">Update from Unit Data</button>
                        <!-- <button class="btn button my-2" (click)="uploadSaleDeedFiles()">Upload</button> -->
                        <button class="btn button my-2" (click)="updateSaleDeedFiles()">Update</button>
                    </div>
                    <!-- <mat-form-field>
                        <mat-label>Filter</mat-label>
                        <input matInput placeholder="Ex. Mia" #saleDeedinput>
                    </mat-form-field> -->
                    <div class="mat-elevation-z8 table-container">
                        <table mat-table [dataSource]="saleDeedDataSource" matSort>

                            <!-- S.No -->
                            <ng-container matColumnDef="sno">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
                                <td mat-cell *matCellDef="let row"> {{row.sno}} </td>
                            </ng-container>

                            <!-- Scheme ID -->
                            <ng-container matColumnDef="nschemeId">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Scheme ID </th>
                                <td mat-cell *matCellDef="let row"> {{row.nschemeId}} </td>
                            </ng-container>

                            <!-- Unit ID -->
                            <ng-container matColumnDef="nunitId">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit ID </th>
                                <td mat-cell *matCellDef="let row"> {{row.nunitId}} </td>
                            </ng-container>

                            <!-- Allotee ID -->
                            <ng-container matColumnDef="nallotteeId">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Allotee ID </th>
                                <td mat-cell *matCellDef="let row"> {{row.nallotteeId}} </td>
                            </ng-container>

                            <!-- Allotment Order File -->
                            <ng-container matColumnDef="allotmentOrder">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Allotment Order File </th>
                                <td mat-cell *matCellDef="let row">
                                    <ng-container *ngIf="row.allotmentOrderFilePath; else inputFile">
                                        <a [href]="row.allotmentOrderFilePath" target="_blank">
                                            <span class="material-symbols-rounded">
                                                visibility
                                            </span>
                                        </a>
                                        <input type="file" accept=".pdf" (change)="onAllotmentUpload($event)">
                                    </ng-container>
                                    <ng-template #inputFile>
                                        <input type="file" accept=".pdf" (change)="onAllotmentUpload($event)">
                                    </ng-template>
                                </td>
                            </ng-container>

                            <!-- LCS Agreement File -->
                            <ng-container matColumnDef="lcs">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> LCS Agreement File </th>
                                <td mat-cell *matCellDef="let row">
                                    <ng-container *ngIf="row.lcsfilePath; else inputLCS">
                                        <a [href]="row.lcsfilePath" target="_blank">
                                            <span class="material-symbols-rounded">
                                                visibility
                                            </span>
                                        </a>
                                        <input type="file" accept=".pdf" (change)="onLCSUpload($event)">
                                    </ng-container>
                                    <ng-template #inputLCS>
                                        <input type="file" accept=".pdf" (change)="onLCSUpload($event)">
                                    </ng-template>
                                </td>
                            </ng-container>

                            <!-- Handing Over Report File -->
                            <ng-container matColumnDef="handingOverReport">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Handing Over Report File </th>
                                <td mat-cell *matCellDef="let row">
                                    <ng-container *ngIf="row.handingReportFilePath; else inputHanding">
                                        <a [href]="row.handingReportFilePath" target="_blank">
                                            <span class="material-symbols-rounded">
                                                visibility
                                            </span>
                                        </a>
                                        <input type="file" accept=".pdf" (change)="onHandingOverUpload($event)">
                                    </ng-container>
                                    <ng-template #inputHanding>
                                        <input type="file" accept=".pdf" (change)="onHandingOverUpload($event)">
                                    </ng-template>
                                </td>
                            </ng-container>

                            <!-- Field Measurement Book File -->
                            <ng-container matColumnDef="fieldMeasurementBook">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Field Measurement Book File </th>
                                <td mat-cell *matCellDef="let row">
                                    <ng-container *ngIf="row.fieldBookFilePath; else inputFieldBook">
                                        <a [href]="row.fieldBookFilePath" target="_blank">
                                            <span class="material-symbols-rounded">
                                                visibility
                                            </span>
                                        </a>
                                        <input type="file" accept=".pdf" (change)="onFieldUpload($event)">
                                    </ng-container>
                                    <ng-template #inputFieldBook>
                                        <input type="file" accept=".pdf" (change)="onFieldUpload($event)">
                                    </ng-template>
                                </td>
                            </ng-container>

                            <!-- A&B Loan File -->
                            <ng-container matColumnDef="abLoan">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> A&B Loan File </th>
                                <td mat-cell *matCellDef="let row">
                                    <ng-container *ngIf="row.loanFilePath; else inputLoan">
                                        <a [href]="row.loanFilePath" target="_blank">
                                            <span class="material-symbols-rounded">
                                                visibility
                                            </span>
                                        </a>
                                        <input type="file" accept=".pdf" (change)="onABUpload($event)">
                                    </ng-container>
                                    <ng-template #inputLoan>
                                        <input type="file" accept=".pdf" (change)="onABUpload($event)">
                                    </ng-template>
                                </td>
                            </ng-container>

                            <!-- Sale Deed File -->
                            <ng-container matColumnDef="saleDeed">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sale Deed File </th>
                                <td mat-cell *matCellDef="let row">
                                    <ng-container *ngIf="row.saleDeedFilePath; else inputSaleDeed">
                                        <a [href]="row.saleDeedFilePath" target="_blank">
                                            <span class="material-symbols-rounded">
                                                visibility
                                            </span>
                                        </a>
                                        <input type="file" accept=".pdf" (change)="onSaleDeedUpload($event)">
                                    </ng-container>
                                    <ng-template #inputSaleDeed>
                                        <input type="file" accept=".pdf" (change)="onSaleDeedUpload($event)">
                                    </ng-template>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="saleDeedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: saleDeedColumns;"></tr>

                            <!-- Row shown when there is no matching data. -->
                            <!-- <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{saleDeedinput.value}}"
                                </td>
                            </tr> -->
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                            aria-label="Select page of users"></mat-paginator>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>

</section>