<section class="main-content">
    <div class="header-row">
        <h3 class="sub-heading">Master Data</h3>
    </div>
    <div class="filter-row mb-4">
        <div *ngIf="!dataFetched">
            <input type="file" (change)="onFileChange($event)">
        </div>
        <button class="btn btn-light excel-btn">
            <span><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-download"
                    viewBox="0 0 16 16">
                    <path
                        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                    <path
                        d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                </svg></span>Export to Excel
        </button>
    </div>

    <div>
        <mat-tab-group>
            <mat-tab label="Unit Data">
                <ng-template matTabContent>
                    <div>
                        <button *ngIf="!dataFetched" class="btn button my-2" (click)="onCreateUnitMasterData()">Create
                            Unit Data</button>
                        <button *ngIf="dataFetched" class="btn button my-2" (click)="onUpdateUnitData()">Update Unit
                            Data</button>
                    </div>
                    <div class="mat-elevation-z8 table-container">
                        <table mat-table [dataSource]="unitMasterDataSource" matSort>
                            <ng-container *ngFor="let column of unitMasterTableColumns" [matColumnDef]="column.prop">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.display }}</th>
                                <td mat-cell *matCellDef="let element; let rowIndex = index;"
                                    (click)="startEdit(element, rowIndex)">
                                    <ng-container *ngIf="editableRowIndex !== rowIndex; else editMode">
                                        {{ element[column.prop] }}
                                    </ng-container>
                                    <ng-template #editMode>
                                        <input [(ngModel)]="element[column.prop]"
                                            (keydown.enter)="saveEdit(element, rowIndex)"
                                            (keydown.esc)="cancelEdit()" />
                                    </ng-template>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="unitMasterDataColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: unitMasterDataColumns;"></tr>
                        </table>
                        <mat-paginator [length]="unitMasterDataSource.data.length" [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons [pageSize]="pageSize" (page)="pageEvent($event)">
                        </mat-paginator>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Allotee">
                <ng-template matTabContent>
                    <div class="button-container">
                        <button class="btn button my-2" (click)="handleInitialAllotteeData()">Update from Unit</button>
                        <button class="btn button my-2" (click)="sendAllotteeData()">Send</button>
                    </div>
                    <div class="mat-elevation-z8 table-container">
                        <table mat-table [dataSource]="allotteeDataSource">
                            <ng-container *ngFor="let column of allotteeTableColumns" [matColumnDef]="column.property">
                                <th mat-header-cell *matHeaderCellDef>{{ column.display }}</th>
                                <td mat-cell *matCellDef="let element;">
                                    <!-- <ng-container *ngIf="editableRowIndex !== rowIndex; else editMode">
                                        {{ element[column.property] }}
                                    </ng-container> -->
                                    <ng-container [ngSwitch]="column.property">
                                        <!-- For columns with input fields -->
                                        <ng-container *ngSwitchCase="'v_AADHAAR_DOC_PDF'">
                                            <input type="file" [(ngModel)]="element[column.property]"
                                                (change)="onAadhaarSelected($event)" accept=".pdf">
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'v_OTHER_DOC_PDF'">
                                            <input type="file" [(ngModel)]="element[column.property]"
                                                (change)="onOtherSelected($event)" accept=".pdf">
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'v_ALLOTTEE_PHOTO'">
                                            <input type="file" [(ngModel)]="element[column.property]"
                                                (change)="onAllotteePhotoSelected($event)" accept=".png, .jpg, .jpeg">
                                        </ng-container>
                                        <!-- For other columns -->
                                        <ng-container *ngSwitchDefault>
                                            <input type="text" [(ngModel)]="element[column.property]" />
                                        </ng-container>

                                        <!-- For Viewing uploaded files -->
                                        <ng-container *ngSwitchCase="'v_AADHAAR_DOC_PDF'">
                                            <a [href]="element[column.property]" target="_blank">View</a>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'v_OTHER_DOC_PDF'">
                                            <a [href]="element[column.property]" target="_blank">View</a>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'v_ALLOTTEE_PHOTO'">
                                            <a [href]="element[column.property]" target="_blank">View</a>
                                        </ng-container>

                                    </ng-container>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="allotteeColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: allotteeColumns;"></tr>
                        </table>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Financial">
                <ng-template matTabContent>
                    Content 3
                </ng-template>
            </mat-tab>
            <mat-tab label="Sale Deed">
                <ng-template matTabContent>
                    <div class="file-container">
                        <label for="">Allotment Order</label>
                        <input type="file" name="" id="">
                    </div>
                    <div class="file-container">
                        <label for="">LCS Agreement</label>
                        <input type="file" name="" id="">
                    </div>
                    <div class="file-container">
                        <label for="">Handing over report</label>
                        <input type="file" name="" id="">
                    </div>
                    <div class="file-container">
                        <label for="">Field measurement book</label>
                        <input type="file" name="" id="">
                    </div>
                    <div class="file-container">
                        <label for="">A & B(Loan purposes)</label>
                        <input type="file" name="" id="">
                    </div>
                    <div class="file-container">
                        <label for="">Sale Deed</label>
                        <input type="file" name="" id="">
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>

</section>